# Django
Django

# gunicorn (needed by Heroku to launch the web server)
gunicorn

# django-heroku (for hosting django projects on heroku)
django-heroku

# Bootstrap 5 (for styling)
django-bootstrap-v5

# Whitenoise (for hosting static files)
whitenoise

# Channels (for websockets support)
channels

# Channels_Redis (used to handle channel layers)
channels_redis
redis

# pytesseract for converting canvas into a text searchable pdf
pytesseract

# Pillow for working with images
Pillow
