{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}<title>Home</title>{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'editpdf/css/base_styles.css' %}"/>
    </head>

    <body>

        {% block content %}
            <p>This is the home page.</p>
        {% endblock %}
        {% block scripts %}{% endblock %}
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2022 Copyright:
              <a class="text-dark" href="https://github.com/nicholasmiller1/hoohacks2022-pdfeditor">Team Janko</a>
            </div>
            <!-- Copyright -->
          </footer>
    </body>

</html>