p {
  font-size: 40;
}

#editor {
  margin: 0 auto;
  display: block;
  border: 2px solid #000000;
}

.sidebar {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: lightslategrey; 
  overflow-x: hidden; 
  padding-top: 20px;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

table {
  margin: 30 px;
  padding: 10 px;
}

.tool {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.text-tool {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}