#editor {
  cursor: crosshair;
  margin: 0 auto;
  display: inherit;
  border: 2px solid #000000;
  position: absolute;
  /* min-width: 100vw;
  min-height: 100vh; */
  z-index: 1;
}

#pdf-view {
  display: inherit;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  display: none;
}

.nav-buttons {
  display: inline-flex;
  padding: auto;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: lightslategrey;
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 15px;
}

.main {
  margin-left: 310px;
  padding: 0px 10px;
}

table {
  margin: 30 px;
  padding: 10 px;
}

.tool {
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  vertical-align: auto;
  justify-items: auto;
}

p {
  font-size: 16px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2
}